
.explore{
    margin-top: 120px;
}

.keterangan{
    margin-top: 40px;
}
.keterangan h3{
    font-size: 72px;
    font-weight: 200;
    text-transform: uppercase;
}

.keterangan .gambar{
    width: 480px;
    border-radius: 10%;
}

.keterangan .logo{
    width: 100px;
}


.keterangan p{
    font-size: 28px;
    font-weight: 200;
    color: #acacac;
}

.keterangan h3 span{
    font-weight: 500;
}

.quote{
    margin-top: 120px;
}

.quote h3{
    font-size: 48px;
    text-align: right;
    font-weight: 800;
    text-transform: uppercase;
}

.quote h5{
    font-size: 24px;
    text-align: left;
    font-weight: 500;
    color: #00C569;
}

.explore hr{
    width: 180px;
    margin: 0 auto;
    align-content: center;
    border: 3px solid black;
}